# Mengabaikan folder venv
WEB_VENV
report

# Mengabaikan file Python bytecode
*.pyc
*.pyo

# Mengabaikan file logs
*report
API_listKecamatan.robot
# pageObject\ssl_helper.py
ssl_helper.py
tensor.py

#di hide dulu
slack_notification.py